.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1631.2em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.Phone:before {
      background-position: 0em 0em;
      width: 2.5em;
      height: 2.5em;
  }




  .icon.aim:before {
      background-position: 0em -2.5em;
      width: 3em;
      height: 3em;
  }




  .icon.analitic:before {
      background-position: 0em -5.5em;
      width: 3.6em;
      height: 3.6em;
  }




  .icon.arrow-down:before {
      background-position: 0em -9.1em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-left:before {
      background-position: 0em -22em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left-fat:before {
      background-position: 0em -69.8em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -119em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right-fat:before {
      background-position: 0em -166.8em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -216.1em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.banknote:before {
      background-position: 0em -222.5em;
      width: 45.5286em;
      height: 45.5286em;
  }




  .icon.box:before {
      background-position: 0em -268.1em;
      width: 3.6em;
      height: 3.5em;
  }




  .icon.cancel:before {
      background-position: 0em -271.6em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.card:before {
      background-position: 0em -319.2em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -321.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.checked:before {
      background-position: 0em -372.7em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.clock:before {
      background-position: 0em -375.3em;
      width: 3.6em;
      height: 3.6em;
  }




  .icon.close:before {
      background-position: 0em -378.9em;
      width: 5.4422em;
      height: 5.4422em;
  }




  .icon.collect:before {
      background-position: 0em -384.4em;
      width: 3.6em;
      height: 3.5em;
  }




  .icon.contact:before {
      background-position: 0em -387.9em;
      width: 4.4em;
      height: 4.4em;
  }




  .icon.creative:before {
      background-position: 0em -392.3em;
      width: 43.176em;
      height: 43.176em;
  }




  .icon.cup:before {
      background-position: 0em -435.5em;
      width: 3em;
      height: 3em;
  }




  .icon.cup-nine:before {
      background-position: 0em -438.5em;
      width: 6.1em;
      height: 6.4em;
  }




  .icon.diamond:before {
      background-position: 0em -444.9em;
      width: 51.1em;
      height: 51.1em;
  }




  .icon.download:before {
      background-position: 0em -496em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.engine:before {
      background-position: 0em -543.2em;
      width: 3.6em;
      height: 3.6em;
  }




  .icon.garbage:before {
      background-position: 0em -546.8em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.gears:before {
      background-position: 0em -552.7em;
      width: 43.9832em;
      height: 43.9832em;
  }




  .icon.heart:before {
      background-position: 0em -596.7em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -643.9em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -692.6em;
      width: 33em;
      height: 33em;
  }




  .icon.interface:before {
      background-position: 0em -725.6em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.land:before {
      background-position: 0em -774.7em;
      width: 3.6em;
      height: 3.2em;
  }




  .icon.like:before {
      background-position: 0em -777.9em;
      width: 49.019999999999996em;
      height: 49.019999999999996em;
  }




  .icon.login:before {
      background-position: 0em -827em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -830.3em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -875.4em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.menu:before {
      background-position: 0em -923.8em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.network:before {
      background-position: 0em -969.7em;
      width: 42.4em;
      height: 42.4em;
  }




  .icon.phone-call:before {
      background-position: 0em -1012.1em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.placeholder:before {
      background-position: 0em -1059.5em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.plus:before {
      background-position: 0em -1107.2em;
      width: 5.8em;
      height: 5.6em;
  }




  .icon.round-mail:before {
      background-position: 0em -1112.8em;
      width: 2.5em;
      height: 2.5em;
  }




  .icon.round-map:before {
      background-position: 0em -1115.3em;
      width: 2.5em;
      height: 2.5em;
  }




  .icon.round-money:before {
      background-position: 0em -1117.8em;
      width: 3.2em;
      height: 2.6em;
  }




  .icon.share:before {
      background-position: 0em -1120.4em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.siman:before {
      background-position: 0em -1168.6em;
      width: 3.3em;
      height: 2.7em;
  }




  .icon.smile-good:before {
      background-position: 0em -1171.3em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1175.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-google:before {
      background-position: 0em -1226.8em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -1236.5em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1279.6em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1323.5em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1333.1em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1374.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1425.4em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.star:before {
      background-position: 0em -1431.8em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.startup:before {
      background-position: 0em -1480.9em;
      width: 51.1em;
      height: 51.1em;
  }




  .icon.system:before {
      background-position: 0em -1532em;
      width: 3em;
      height: 3em;
  }




  .icon.tag:before {
      background-position: 0em -1535em;
      width: 3em;
      height: 3em;
  }




  .icon.team:before {
      background-position: 0em -1538em;
      width: 42.4em;
      height: 42.4em;
  }




  .icon.tools:before {
      background-position: 0em -1580.4em;
      width: 2.7em;
      height: 3.2em;
  }




  .icon.umbrela:before {
      background-position: 0em -1583.6em;
      width: 3.6em;
      height: 3.3em;
  }




  .icon.up:before {
      background-position: 0em -1586.9em;
      width: 2.5938em;
      height: 3em;
  }




  .icon.user:before {
      background-position: 0em -1589.9em;
      width: 35em;
      height: 35em;
  }




  .icon.window:before {
      background-position: 0em -1624.9em;
      width: 3.6em;
      height: 3.1em;
  }




  .icon.вarts:before {
      background-position: 0em -1628em;
      width: 3.2em;
      height: 3.2em;
  }





