@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format('woff2'), url("../fonts/Montserrat-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format('woff2'), url("../fonts/Montserrat-Bold.woff") format('woff');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.woff2") format('woff2'), url("../fonts/Montserrat-Black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
.clear {
  clear: both;
}
.align-image-center {
  text-align: center;
}
.fluid-image {
  max-width: 100%;
  height: auto;
  display: block;
}
.type--up {
  text-transform: uppercase;
}
.type--italy {
  font-style: italic;
}
.type--center {
  text-align: center;
}
.type--left {
  text-align: left;
}
.type--right {
  text-align: right;
}
.disabled,
.btn--disable,
.style-label--disable {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.all-page__el {
  width: 32%;
  padding: 5px;
  -webkit-box-shadow: 0px 3px 8px #e3e3e3;
          box-shadow: 0px 3px 8px #e3e3e3;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .all-page__el {
    width: 100%;
    margin-bottom: 20px;
  }
}
.all-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.elements-hr {
  margin: 40px 0;
  display: block;
  height: 1px;
  border-bottom: 1px solid #d1d1d1;
}
.all-page__title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #000;
}
.old-browser {
  background: #808080;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.all-page-color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.all-page-color__el {
  margin: 20px;
}
.all-page-color__block {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 10px;
}
.all-page-color__el-name {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.old-browser-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.element-list-svg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.element-list-svg__icon {
  width: 12%;
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
.element-list-svg__icon .icon-el {
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  -webkit-animation: slideInDown 1s 1 ease-in-out;
          animation: slideInDown 1s 1 ease-in-out;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
a {
  text-decoration: none;
  color: $link-color;
}
a:hover {
  text-decoration: none;
  color: $link-color-hover;
}
.type--bold {
  font-weight: $weigh-bold;
}
img,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
          border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
          border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
          border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body > svg {
  display: none;
}
.small-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .small-only {
    display: table;
  }
}
@media only screen and (max-width: 768px) {
  .large-only {
    display: none;
  }
}
.rub {
  font-family: 'RUB';
  font-style: normal;
}
.type--xs,
h5 {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--xs,
  h5 {
    font-size: 10px;
  }
}
.type--sm,
h4 {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .type--sm,
  h4 {
    font-size: 12px;
  }
}
.type--main,
h3,
p,
body {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .type--main,
  h3,
  p,
  body {
    font-size: 14px;
  }
}
.type--md,
.modal-title {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .type--md,
  .modal-title {
    font-size: 15px;
  }
}
.type--lg,
h2 {
  font-size: 26px;
}
@media only screen and (max-width: 768px) {
  .type--lg,
  h2 {
    font-size: 18px;
  }
}
.type--xl,
h1 {
  font-size: 36px;
}
@media only screen and (max-width: 768px) {
  .type--xl,
  h1 {
    font-size: 20px;
  }
}
.type--bold {
  font-weight: bold;
}
a {
  color: #2f2f2f;
}
a:hover {
  color: #000;
}
a:visiter {
  color: #000;
}
.link--mark {
  color: #3a90c8;
}
.link--mark:hover {
  color: #22577a;
}
.link--mark:visiter {
  color: #173b52;
}
.link--main {
  color: #2f2f2f;
  border-bottom: #2f2f2f solid transparent;
}
.link--main:hover {
  border-bottom: #2f2f2f solid;
}
.link--main:hover {
  color: #000;
}
.link--main:visiter {
  color: #000;
}
.link--text {
  color: #2f2f2f;
  text-decoration: underline;
}
.link--text:hover {
  text-decoration: none;
}
.btn,
.btn--sm,
.btn--md,
.btn--lg,
.btn--mobile,
.btn--mark,
.btn--light,
.btn--grey,
.btn--dotted,
.btn--white,
.header-get,
.offer-get,
.offer__el-get {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  display: inline-block;
  background: none;
  border: 0px;
  color: #3a90c8;
  text-align: center;
  font-weight: bold;
}
.btn:hover,
.btn--sm:hover,
.btn--md:hover,
.btn--lg:hover,
.btn--mobile:hover,
.btn--mark:hover,
.btn--light:hover,
.btn--grey:hover,
.btn--dotted:hover,
.btn--white:hover,
.header-get:hover,
.offer-get:hover,
.offer__el-get:hover {
  cursor: pointer;
}
.btn--sm {
  font-size: 10px;
  padding: 5px 10px;
}
.btn--sm .nav-icon {
  width: 10px;
  height: 10px;
}
.btn--md,
.header-get,
.offer-get,
.offer__el-get {
  font-size: 14px;
  padding: 15px 35px;
  -webkit-border-radius: 35px;
          border-radius: 35px;
}
.btn--lg {
  font-size: 20px;
  padding: 10px 30px;
}
@media only screen and (max-width: 768px) {
  .btn--mobile {
    width: 100%;
    text-align: center;
  }
}
.btn--mark,
.header-get,
.offer-get,
.offer__el-get {
  color: #a10003;
  background: #ffd355;
}
.btn--mark .nav-icon,
.header-get .nav-icon,
.offer-get .nav-icon,
.offer__el-get .nav-icon {
  fill: #fff;
}
.btn--mark:hover,
.header-get:hover,
.offer-get:hover,
.offer__el-get:hover {
  background-color: #ffda6e;
}
.btn--mark:active,
.header-get:active,
.offer-get:active,
.offer__el-get:active {
  background-color: #ffda6e;
}
.btn--mark input[type="submit"],
.header-get input[type="submit"],
.offer-get input[type="submit"],
.offer__el-get input[type="submit"] {
  border: 0;
}
.btn--mark .nav-icon,
.header-get .nav-icon,
.offer-get .nav-icon,
.offer__el-get .nav-icon {
  fill: #fff;
}
.btn--disable {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #000;
}
.btn--light {
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn--light:hover {
  border: 1px solid #3a90c8;
}
.btn--light .nav-icon {
  fill: #3a90c8;
}
.btn--grey {
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn--dotted {
  border: 1px dashed #d7d7d7;
  background-color: #fff;
  text-align: center;
}
.btn--white {
  border: 1px solid rgba(255,255,255,0.9);
  color: rgba(255,255,255,0.9);
}
.btn--white .nav-icon {
  fill: rgba(255,255,255,0.9);
}
.btn--icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.btn--hover {
  -webkit-transform: perspective(100px) translateZ(0);
          transform: perspective(100px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
          transition-property: color;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.btn--hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #aaa;
  -webkit-border-radius: 10%;
          border-radius: 10%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.btn--hover:hover,
.btn--hover:focus,
.btn--hover:active {
  color: #fff;
}
.btn--hover:hover:before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
.btn--hover:focus:before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
.btn--hover:active:before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
button {
  font-family: 'Montserrat', sans-serif;
}
.input,
.textarea,
.select {
  border: 0px;
  padding: 20px;
  border: 1px solid #ddd;
  resize: none;
  outline: 0 !important;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  display: block !important;
  margin-bottom: 10px;
  background: #f7f7f8;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.input input::-webkit-input-placeholder,
.textarea input::-webkit-input-placeholder,
.select input::-webkit-input-placeholder {
  color: #888;
}
.input input::-moz-placeholder,
.textarea input::-moz-placeholder,
.select input::-moz-placeholder {
  color: #888;
}
.input input:-moz-placeholder,
.textarea input:-moz-placeholder,
.select input:-moz-placeholder {
  color: #888;
}
.input input:-ms-input-placeholder,
.textarea input:-ms-input-placeholder,
.select input:-ms-input-placeholder {
  color: #888;
}
.input:focus,
.textarea:focus,
.select:focus {
  border: 1px solid #3a90c8;
}
.style-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.check-el input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.check-el .sytle-input-element {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.check-el .sytle-input-element:hover {
  cursor: pointer;
}
.check-el .sytle-input-element:hover {
  border: 1px solid #8d8d8d;
}
.check-el .icon-check {
  display: none;
}
.check-el .sytle-input:checked ~ .sytle-input-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.check-el .sytle-input:checked ~ .sytle-input-element .icon-check {
  display: block;
  fill: #000;
  width: 16px;
  height: 16px;
}
.style-label--radio input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.style-label--radio .sytle-input-element {
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.style-label--radio .sytle-input-element:hover {
  cursor: pointer;
}
.style-label--radio .icon-check {
  display: none;
}
.style-label--radio .sytle-input:checked ~ .sytle-input-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.style-label--radio .sytle-input:checked ~ .sytle-input-element .icon-radio {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 14px;
  height: 14px;
  background: #3a90c8;
}
/* block footer*/
/*block footer end */
body {
  font-family: 'Montserrat', sans-serif;
  color: #2f2f2f;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
@media only screen and (min-width: 1200px) {
  .main-cont {
    width: 1200px;
  }
}
.modal-layer {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
          transition: all 1s;
  opacity: 0;
}
.modal-layer-show {
  visibility: visible;
  opacity: 1;
}
.modal-cont {
  width: 100%;
  height: 100%;
  position: relative;
  max-height: 100%;
  overflow: auto;
}
.modal-filter {
  position: absolute;
  top: 0;
  left: 0;
  background: #18191d;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}
.modal {
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.24);
          box-shadow: 0 2px 4px rgba(0,0,0,0.24);
  -webkit-transform: translateY(-350%);
      -ms-transform: translateY(-350%);
          transform: translateY(-350%);
  position: absolute;
  opacity: 0.1;
  -webkit-transition: -webkit-transform 0.8s, opacity 1s;
          transition: transform 0.8s, opacity 1s;
  max-width: 470px;
}
@media only screen and (max-width: 768px) {
  .modal {
    width: 100%;
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
  }
}
.modal-content {
  background: #fff;
  position: relative;
  padding: 40px;
}
@media only screen and (max-width: 768px) {
  .modal-content {
    padding: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .modal-content {
    height: 100%;
    overflow-y: scroll;
    padding: 20px 10px;
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}
.modal-content--register {
  width: 500px;
}
.modal-content--register input {
  width: 100%;
  margin-bottom: 20px;
}
.modal__show {
  max-height: 100%;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
@media only screen and (max-width: 1024px) {
  .modal__show {
    overflow-Y: scroll;
  }
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media only screen and (max-width: 768px) {
  .modal-close {
    top: 15px;
    right: 15px;
  }
}
.modal-close:hover {
  cursor: pointer;
}
.modal-close .icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
@media only screen and (max-width: 768px) {
  .modal-close .icon {
    width: 15px;
    height: 15px;
  }
}
.modal-open {
  overflow: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.modal-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-title {
  letter-spacing: 1.2px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .modal-title {
    font-size: 20px;
  }
}
.modal-text {
  text-align: center;
  margin: 20px auto 40px auto;
  font-size: 16px;
  line-height: 1.2;
  color: #5f5f5f;
}
@media only screen and (max-width: 768px) {
  .modal-text {
    width: 100%;
    font-size: 12px;
  }
}
.modal-agree {
  margin-top: 30px;
  margin-bottom: 40px;
}
.main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  border-top: 6px solid #d12024;
}
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}
.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
}
.header-menu__el {
  color: #fff;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
.header-menu__el:hover {
  opacity: 0.7;
  color: #fff;
}
.header-phone__el {
  display: block;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.header-phone__el:hover {
  opacity: 0.7;
  color: #fff;
}
.main-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-calc(100vh - 68px);
  height: calc(100vh - 68px);
}
.main-content {
  width: 54%;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  color: #fff;
  margin-bottom: 20px;
}
.main-title span {
  display: inline;
  color: #ffd355;
}
.main-text {
  color: #fff;
  line-height: 1.6;
  margin-bottom: 4%;
}
.offer-wrap {
  width: 450px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3%;
}
.offer-el {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  width: 150px;
}
.offer-el__val {
  color: #ffd355;
  display: inline-block;
  font-size: 90px;
}
.offer-plus .icon {
  width: 58px;
  height: 58px;
  fill: #ffd355;
}
.offer-text {
  color: #fff;
  opacity: 0.8;
  margin-bottom: 5%;
}
.panel {
  width: 65px;
  background: bg-grey;
  position: fixed;
  top: 22%;
  left: 0;
  overflow: hidden;
  z-index: 10000;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  background: #ca1b20;
}
.panel:hover {
  width: 270px;
}
.panel__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 20px;
  overflow: hidden;
  min-width: 300px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  border-bottom: 1px solid #b31b1f;
}
.panel__el:last-child {
  border-bottom: 0;
}
.panel__el:hover {
  background: #ffd355;
  cursor: pointer;
}
.panel__el:hover .panel__el-text {
  color: #2f2f2f;
}
.panel__el:hover .icon {
  fill: #2f2f2f;
}
.panel__el-icon {
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.panel__el-icon .icon {
  width: 35px;
  height: 35px;
  fill: #fff;
}
.panel__el-text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding-left: 20px;
}
.section {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
}
.case {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.case-chart {
  width: 60%;
}
.case-info {
  width: 35%;
}
.section-title {
  color: #b31b1f;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 5%;
}
.section--mount {
  background-repeat: no-repeat;
  background-position: bottom right;
}
.case-el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.case-el__icon {
  margin-right: 40px;
}
.case-el__icon .icon {
  width: 50px;
  height: 50px;
  fill: #b31b1f;
}
.case-el__title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1;
}
.case-el__val {
  font-size: 40px;
  color: #b31b1f;
  font-weight: 700;
  margin-bottom: 5px;
}
.case-el__val-descr {
  color: #b31b1f;
  margin-bottom: 10px;
  font-weight: 700;
}
.case-el__text {
  line-height: 1.4;
  font-family: 'PT Sans', sans-serif;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.logo-black {
  display: none;
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  -webkit-animation: slideInDown 1s 1 ease-in-out;
          animation: slideInDown 1s 1 ease-in-out;
  z-index: 2;
  -webkit-box-shadow: 0 0 10px #dbdbdb;
          box-shadow: 0 0 10px #dbdbdb;
  height: 60px;
}
.shrink .header-logo {
  width: 140px;
}
.shrink .header-menu__el {
  color: #2f2f2f;
}
.shrink .header-phone__el {
  color: #2f2f2f;
}
.shrink .header {
  padding: 10px 0;
}
.shrink .logo-black {
  display: block;
}
.shrink .logo-white {
  display: none;
}
.section-gray {
  background: #f4f4f4;
}
.advant {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.advant__el {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6%;
}
.advant__el-icon {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}
.advant__el-content {
  width: -webkit-calc(100% - 90px);
  width: calc(100% - 90px);
}
.advant__el-title {
  font-weight: 900;
  color: #2f2f2f;
  font-size: 24px;
  margin-bottom: 10px;
}
.advant__el-text {
  line-height: 1.4;
  font-family: 'PT Sans', sans-serif;
}
.offer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.offer__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 23%;
  padding: 40px 30px;
  background: #fff;
}
.offer__el-title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 900;
}
.offer__el-val {
  margin-bottom: 15px;
  font-weight: 700;
  color: #b31b1f;
}
.offer__el-text {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 30px;
  line-height: 1.4;
}
.offer__el-get {
  margin-top: auto;
  padding: 15px;
}
.why-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.why-head__el {
  width: -webkit-calc(50% - 50px);
  width: calc(50% - 50px);
  padding: 30px;
  font-size: 20px;
  font-weight: 900;
}
.why-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.why-row:nth-child(even) {
  background: #fff;
}
.why__text {
  padding: 30px;
  width: -webkit-calc(50% - 50px);
  width: calc(50% - 50px);
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.why__icon {
  width: 100px;
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.why__icon .icon {
  width: 50px;
  height: 50px;
  fill: #b31b1f;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
