@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)
	+below(1280px)
		padding-left: 60px
	+below(960px)
		padding-left: 10px

//modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.24)
	transform translateY(-350%)
	position: absolute
	opacity .1
	transition transform .8s, opacity 1s
	max-width 470px

.modal-content
	+below(768px)
		padding: 20px
	+below(640px)
		height: 100%
		padding: 20px 10px
		overflow-y scroll
		width: 100%!important
	//background: #2b8850
	background: white
	position: relative
	padding: 40px
	br(10px)
	+below(768px)
		width: 80%

.modal-content--register
	width: 500px
	input
		width: 100%
		margin-bottom: 20px

.modal__show

	max-height 100%
	opacity 1
	transform translateY(0)

.modal-close
	+below(768px)
		top 15px
		right 15px
	position: absolute
	top: 20px
	right: 20px
	cp()
	.icon
		+below(768px)
			size 15px
		size 20px
		fill black

.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	flex(mid)
	overflow-y auto
.modal-title
	+below(768px)
		font-size: 20px
	margin-bottom: 20px
	text-align: center
	font-weight:900
	font-size: 24px
	color black

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 10px auto 20px auto
	//width: 80%
	font-size: 16px
	line-height: 1.2
	color #5f5f5f

.validate-form
	input,textarea
		width: 100%
		margin-bottom: 20px

.modal-send
	@extend .btn--md
	@extend .btn--mark
	border 0
	width: 100%
	font-weight: 600
	padding: 15px
	font-size: 16px

.agree-row
	f()
	align-items: center
	margin:10px 0 20px 0
	a
		color black!important
		text-decoration: underline!important
		display: inline-block
		margin-left: 5px

.agree-row__text
	width: 100%
	color black
	font-size: 12px
	a
		color #9c9a9a
		text-decoration: none
.field-error


.field-error
	input
		border 1px solid $yellow
.style-label--checkbox.field-error
	.sytle-input-element
		border 2px solid $yellow

.modal-content--true
	flex(mid)
	fl()
	br(10px)
	.icon
		fill green
		size 120px
		margin-bottom: 20px
.modal-text-true
	text-align: center
	font-weight: bold
//modal===end

.main
	+below(1440px)
		min-height 550px
	+below(640px)
		min-height 400px
		height: 100vh
	bg-full()
	height: 100vh
	border-top 6px solid #d12024
.header-wrap
	+below(1200px)
		.main-cont
			padding-left: 10px
.header
	+below(960px)
		padding-top: 0
	flex(between)
	padding-top: 15px
.header-logo
	+below(960px)
		img
			width: 100px
	+below(640px)
		img
			width: 80px
.header-menu
	+below(960px)
		display: none
	flex(between)
	width: 35%
.header-menu__el
	+below(1200px)
		font-size: 10px
	up()
	tr(all)
	background: none !important
	color white
	font-weight: 700
	font-size: 12px
	&:hover
		opacity:.7
		color white
.header-phone
	+below(960px)
		margin-left: auto
.header-phone__el
	+below(640px)
		font-size: 12px
	display: block
	color white
	font-weight:700
	tr(all)
	&:hover
		opacity:.7
		color white

.header-get
	+below(960px)
		display: none
	@extend .btn--md
	@extend .btn--mark

.main-wrap
	flex(between)
	height: calc(100vh - 68px)
//.main-cont
.main-content
	+below(960px)
		width: 65%
	+below(640px)
		width: 100%
	width: 54%
.main-title
	+below(1200px)
		font-size: 28px
	+below(640px)
		font-size: 24px
		margin-top: -6%
	font-weight:900
	font-size: 44px
	color white
	margin-bottom: 20px
	span
		display: inline
		color $yellow
.main-text
	+below(1200px)
		font-size: 14px
	+below(640px)
		font-size: 12px
		br
			display: none
	color white
	line-height: 1.6
	margin-bottom: 4%
//.offer
.tender-wrap
	+below(1440px)
		width: 400px
	+below(1200px)
		display: none
	width: 450px
	flex(between)
	margin-bottom: 3%
.tender-el
	+below(1440px)
		font-size: 24px
	font-size: 32px
	font-weight:700
	color white
	width: 150px
.tender-el__val
	+below(1440px)
		font-size: 64px
	color $yellow
	display: inline-block
	font-size: 90px
.tender-plus
	.icon
		+below(1440px)
			margin-left: -40px
			size 40px
		size 58px
		fill $yellow

.tender-text
	+below(1440px)
		display: none
	color white
	opacity: .8
	margin-bottom: 5%
.tender-get
	@extend .btn--md
	@extend .btn--mark
.main-img
	+below(1440px)
		flex(mid)
		img
			width: 100%
	+below(960px)
		width: 40%
	+below(640px)
		display: none
.panel
	+below(1440px)
		width: 40px
	+below(960px)
		display: none
	width 65px
	background bg-grey
	position fixed
	top 22%
	left: 0
	overflow hidden
	z-index 10000
	tr(all)
	background: #ca1b20
	&:hover
		width 270px
.panel__el
	+below(1440px)
		width: 200px
	flex(between)
	justify-content flex-start
	padding-right 20px
	overflow hidden
	min-width 300px
	tr(all)
	border-bottom 1px solid #b31b1f
	&:last-child
		border-bottom 0
	&:hover
		background $yellow
		cursor pointer
		.panel__el-text
			color black
		.icon
			fill black
.panel__el--active
	background $yellow
	cursor pointer
	.panel__el-text
		color black
	.icon
		fill black!important
.panel__el-icon
	+below(1440px)
		size 40px
	.icon
		+below(1440px)
			size 25px
		size 35px
		fill white
	size 65px
	flex(mid)
.panel__el-text
	+below(1440px)
		font-size: 14px
	color white
	font-size 16px
	font-weight 700
	padding-left: 20px

.section
	+below(1024px)
		padding: 50px 0
	//height: 100vh
	width: 100%
	flex(mid)
	padding: 150px 0
.case
	+below(1024px)
		fw()
	f()
	justify-content: space-between
.case-chart
	+below(1024px)
		width: 80%
		margin-bottom: 40px
	+below(640px)
		width: 100%
	width: 60%
.case-info
	+below(1024px)
		width: 100%
	width: 35%
.section-title
	+below(1024px)
		font-size: 32px
	+below(768px)
		font-size: 24px
		margin-bottom: 30px
	up()
	color $red
	font-size: 40px
	font-weight: 900
	margin-bottom: 5%
	line-height: 1.4
.section-title--white
	color white

.section-title--sm
	width: 80%
.section--mount
	+below(1024px)
		.main-cont
			center(768px,10px)
	background-repeat: no-repeat
	background-position: bottom right

.section--command
	background-repeat: no-repeat
	background-position: bottom right
.case-el
	f()
	margin-bottom: 20px

.case-el__icon
	+below(1024px)
		margin-right: 20px
	margin-right: 40px
	.icon
		+below(1024px)
			size 40px
		size 50px
		fill $red
//.icon
//.case-el__content
.case-el__title
	font-weight:700
	margin-bottom: 10px
	font-size: 20px
	line-height: 1
.case-el__val
	+below(1024px)
		font-size: 28px
	font-size: 40px
	color $red
	font-weight:700
	margin-bottom: 5px
.case-el__val-descr
	color $red
	margin-bottom: 10px
	font-weight:700

.case-el__text
	line-height: 1.4
	font-family: 'PT Sans', sans-serif
//Добавялем стили для этого элемента
@-webkit-keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

//Анимация из animateCSs
@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.logo-black
	display: none

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 2
	box-shadow 0 0 10px #dbdbdb
	//border-top 1px solid $red
	.header
		+below(960px)
			padding-bottom: 0
		padding-bottom: 15px
	.header-logo
		+below(640px)
			width: 80px
		width: 140px
	.header-menu__el
		color black
	.header-phone__el
		color black
	.logo-black
		display: block
	.logo-white
		display: none
	.head-toggle
		.icon
			fill black
.section-gray
	background: #f4f4f4
.advant
	f()
	justify-content: space-between
	fw()
.advant__el
	+below(768px)
		width: 48%
	+below(640px)
		width: 100%
	width: 30%
	f()
	margin-bottom: 6%
.advant__el-icon
	.icon
		size 50px
		margin-right: 30px
		fill $red

.advant__el-content
	width: calc(100% - 90px)

.advant__el-title
	font-weight: 900
	color black
	font-size: 24px
	margin-bottom: 10px

.advant__el-text
	line-height: 1.4
	font-family: 'PT Sans', sans-serif

.offer
	+below(1024px)
		fw()
	f()
	justify-content: space-between
.offer__el
	+below(1024px)
		width 48%
		margin-bottom: 30px
	+below(640px)
		width: 100%
		&:last-child
			margin-bottom: 0
	f()
	fl()
	width: 23%
	padding: 40px 30px
	background: white
.offer__el-title
	font-size: 24px
	margin-bottom: 30px
	font-weight:900

.offer__el-val
	margin-bottom: 15px
	font-weight:700
	color $red
.offer__el-text
	font-family:'PT Sans', sans-serif
	margin-bottom: 30px
	line-height: 1.4
.offer__el-get
	margin-top: auto
	@extend .btn--md
	@extend .btn--mark
	padding: 15px

.why
	+below(768px)
		margin-bottom: 30px
	margin-bottom: 100px
.why-head
	+below(640px)
		display: none
	f()
	justify-content: space-between
.why-head__el
	width: calc(50% - 50px)
	padding: 30px
	font-size: 20px
	font-weight:900

.why-row
	+below(640px)
		fl()
	f()
	justify-content: space-between
	&:nth-child(even)
		background: white
.why__text
	+below(640px)
		width: 100%
		padding: 20px
		font-size: 14px
	padding: 30px
	width: calc(50% - 50px)
	font-family:'PT Sans', sans-serif
	font-size: 16px
	line-height: 1.4
	f()
	align-items: center
.why__icon
	+below(640px)
		display: none
	width: 100px
	padding: 20px 0
	flex(mid)
	.icon
		size 50px
		fill $red
.why__icon-mobile
	+above(640px)
		display: none
	width: 100%
	padding: 20px
	.icon
		size 50px
		fill $red

.form-order-wrap
	max-width 550px
	margin-left: auto
	margin-right: auto
.input
	width: 100%
.input-row
	margin-bottom: 20px

.form-order-get
	+below(640px)
		font-size: 12px
	@extend .btn--md
	@extend .btn--red
	margin-left: auto
	margin-right: auto
	display: block
	margin-top: 40px

.tabs
	position: relative
.tabs-head
	+below(640px)
		overflow-y: auto

	f()
	position: relative
	justify-content: space-between

.tabs-head__el
	+below(1024px)
		text-transform: none
	+below(640px)
		min-width: 130px
		padding: 10px
	width: 19%
	text-align: center
	background: #f9f9f9
	cp()
	height: 60px
	flex(mid)
	tr(all)
	border-top 2px solid #f9f9f9
	font-weight:600
	up()
	font-size: 12px
	&:hover
		+above(641px)
			border-top 2px solid $red
			color $red
			background: white

.tabs-head__el--active
	border-top 2px solid $red
	color $red
	background: white
.tabs-content
	background: white
	height: 0
	overflow: hidden
	transform:translateY(9999px)
	position: relative
	+below(640px)
		.slick-dots
			bottom -35px
			left 0
.slick-dotted.slick-slider
	margin-bottom: 0

.tabs-content--active
	+below(1024px)
		padding: 40px 40px 80px 40px
		height: 400px
	+below(640px)
		display: block
		padding: 30px
		height: auto
	f()
	padding: 80px 80px 120px 80px
	justify-content: space-between
	overflow: initial
	height: 500px
	overflow: initial
	transform:translateY(0px)

.tabs-content-wrap
	width: 100%
.tabs-col
	+below(640px)
		width: 100%
		padding-left: 25px
	width: 30%
.tabs-col--four
	+below(640px)
		width: 100%
	width: 23%
.tabs-col__icon
	.icon
		size 60px
		margin-bottom: 20px
		fill $red
.tabs-col__title
	font-weight:700

.tabs-col__text
	font-family: 'PT Sans', sans-serif
	ul
		padding-left: 15px
		li
			margin-bottom: 20px

.command
	+below(1024px)
		grid-gap 20px
	+below(768px)
		grid-template-columns 1fr 1fr
	+below(640px)
		grid-template-columns 1fr
	display: grid
	grid-gap 30px
	grid-template-columns repeat(4, 1fr)
.command__el
	+below(768px)
		padding: 30px 30px 50px 30px
	background: white
	padding: 60px 20px 100px 20px
	flex(mid)
	fl()
	box-shadow 0px 3px 20px #e3e3e3
	cp()
	br(10px)
.command__el-img
	+below(768px)
		margin-bottom: 30px
	margin-bottom: 100px
.command__el-title
	+below(1024px)
		font-size: 16px
	margin-top: auto
	font-weight: 700
	font-size: 18px
	color $red

.section-order
	background-image: linear-gradient(to top, rgba(152, 0, 0, 0.5) 0%, rgba(152, 0, 0, 0) 100%);
	background-color: #d32b1c
	min-height 100vh

.order
	margin-bottom: 40px
	.error
		color white
.order-form
	+below(768px)
		width: 100%
	width: 80%

.form-get
	@extend .btn--md
	padding: 20px 50px
	up()
.form-get--yellow
	@extend .btn--mark

.order-title
	font-weight: 700
	margin-bottom: 40px
	color white
	opacity: .8

.agreement
	margin-bottom: 40px
	.style-label
		align-items: flex-start
	.sytle-input-text
		width: calc(100% - 60px)
		a
			display: inline-block
			margin:0 3px
	.sytle-input-text
		color white
		font-family: "PT Sans"
		a
			color white
			text-decoration: underline
			display: inline-block

.order-phone
	color white
	font-weight: 700
	font-size: 18px
	margin-bottom: 20px
.head-toggle
	size 50px
	flex(mid)
	cp()
	+above(1025px)
		display: none
	.icon
		size 25px
		fill white
	.icon-close
		display: none

.head-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(1025px)
		display: none !important
	+below(960px)
		top 50px
	+below(480px)
		width: 70%
	background:$red
	position: fixed
	height: calc(100% - 50px) //Отступ хедер
	z-index 1250
	top 80px
	right 0
	width: 320px
	transform translateX(100%)
	tr(all)
	.panel__el
		padding: 5px 0
		width: 100%
		min-width auto
.slide-menu--open
	transform translateX(0%)
	overflow-y: auto
.slide-menu__list
	margin-bottom: 40px
.slide-menu__list-el
	display: block
	margin-bottom: 40px
	color white
	font-size: 16px
	up()
	tr(all)
	&:hover
		color red
.body-fix
	overflow: hidden!important
	position: fixed!important
	overflowY: scroll!important
	width:100%!important

.slide-menu-get
	@extend .btn--md
	@extend .btn--mark
	margin-top: 30px
	margin-left: auto
	margin-right: auto
	display: block
	max-width 80%

.why-title-mobile
	+above(640px)
		display: none
	font-weight:900
	font-size: 16px
	padding-left: 20px

.order-phone__el
	+below(640px)
		font-size: 24px
	&:hover
		color white
	font-size: 40px
	margin-bottom: 20px
	margin-right: 20px
	color white
	font-weight: 700
	display: inline-block

.error
	display: block
	margin-bottom: 20px

.slick-dots li button:before
	content '•'
	font-size: 12px !important

//for custom navigation
.slider-control
	+above(641px)
		display: none
	round()
	flex(mid)
	tr(all)
	size 40px
	background: white
	position: absolute
	top 50%
	margin-top: 10px
	z-index 10
	cp()
	.icon
		size 28px
		fill $red

.slider-control--left
	left 0px
.slider-control--right
	right 0px

.order-wrap
	f()
	justify-content: space-between
	align-items: flex-start
.order-content
	+below(1200px)
		width: 100%
	width: 70%

.order-slogan
	+below(1200px)
		display: none
	color white
	width: 30%
	font-weight:700
	font-size: 28px
	line-height: 1.6
	position: relative
	margin-right: 30px
	font-style italic
	&:before
		content ''
		position: absolute
		bottom -30px
		left -30px
		size 50px
		border-left 1px solid white
		border-bottom 1px solid white
	&:after
		content ''
		position: absolute
		top -30px
		right -30px
		size 50px
		border-right 1px solid white
		border-top 1px solid white


@media screen and (-webkit-min-device-pixel-ratio: 0)
	select:focus, textarea:focus, input:focus, input
		font-size: 16px!important

