include block_html/_style.pug
include block_html/_include.pug

//panel

.slide-menu
	.slide-menu__list
		-
			var items = [
			{'icon':'house','name':'Начало','link':'#tostart'},
			{'icon':'creative','name':'Преимущества','link':'#toadvant1'},
			{'icon':'banknote','name':'Стоимость','link':'#topay'},
			{'icon':'diamond','name':'Почему мы?','link':'#towhy'},
			{'icon':'gears','name':'Технологии','link':'#totech'},
			{'icon':'startup','name':'Команда','link':'#tocommand'},
			{'icon':'contact','name':'Контакты','link':'#tocontact'}
			];
		each item in items
			a(href=item.link rel='m_PageScroll2id').panel__el
				.panel__el-icon
					+icon(item.icon,"icon")
				.panel__el-text #{item.name}
		.slide-menu-get.modal-get(data-modal="order") Консультация

.panel
	-
		var items = [
			{'icon':'house','name':'Начало','link':'#tostart'},
			{'icon':'creative','name':'Преимущества','link':'#toadvant'},
			{'icon':'banknote','name':'Стоимость','link':'#topay'},
			{'icon':'diamond','name':'Почему мы?','link':'#towhy'},
			{'icon':'gears','name':'Технологии','link':'#totech'},
			{'icon':'startup','name':'Команда','link':'#tocommand'},
			{'icon':'contact','name':'Контакты','link':'#tocontact'}
		];
	each item in items
		a(href=item.link rel='m_PageScroll2id').panel__el
			.panel__el-icon
				+icon(item.icon,"icon")
			.panel__el-text #{item.name}

//main
.main#tostart(style="background-image:url('img/main-page-banner.jpg')")
	.header-wrap
		.main-cont
			.header
				a(href="/").header-logo
					img(src="img/logo-white.png", alt="" class="logo-white")
					//img(src="img/logo-white-2.png", alt="" class="logo-black")
					img(src="img/logo-black.png", alt="" class="logo-black")
				.header-menu
					a(href="#topay" rel='m_PageScroll2id').header-menu__el Что мы предлагаем?
					a(href="#towhy" rel='m_PageScroll2id').header-menu__el Почему мы?
					a(href="#totech" rel='m_PageScroll2id').header-menu__el Технологии
				.header-phone
					a(href="tel:8 800 775 53 46").header-phone__el 8 800 775 53 46
					a(href="tel:8 383 247 88 94").header-phone__el 8 383 247 88 94
				.header-get.modal-get(data-modal="order") Консультация
				.head-toggle
					+icon("menu","icon icon-open")
					+icon("close","icon icon-close")

	.main-block
		.main-cont
			.main-wrap
				.main-content
					.main-title Продвиньте <br> Ваш сайт в топ <br> с &nbsp
						span оплатой за результат
						| <br> и &nbsp
						span гарантиями
						| !
					.main-text Большой выбор инструментов интернет-маркетинга: SEO-продвижение, контекстная реклама, SMM, веб-аналитика и многое другое. <br>
						<b> Комплексный подход!</b>
					.tender
						.tender-wrap
							.tender-el
								span от
								.tender-el__val 17
								span тысяч рублей
							.tender-plus
								+icon("plus","icon")
							.tender-el
								span от
								.tender-el__val 2
								span рублей за визит
						.tender-text В месяц продвижения с гарантией роста трафика и позиций
					div(data-modal="order").modal-get.tender-get  Получить индивидуальное предложение
				.main-img
					img(src="img/seo.png", alt="")

//example 1
.section.section-example.section--mount(style="background-image:url('img/gray-mount.png')")
	.main-cont
		.section-title От слов к делу: Кейс №1. Сеть круглосуточных аптек
		.case
			.case-chart
				img(src="img/chart-apteka.png", alt="")
			.case-info
				.case-el
					.case-el__icon
						+icon("cup","icon")
					.case-el__content
						.case-el__title Результаты:
						.case-el__val 0 → 18 270
						.case-el__val-descr посетителей из поисковых сетей
						.case-el__text За 15 месяцев от создания сайта посещаемость из поисковых систем выросла <b> до 18270 </b>. Рост позиций с 13% <b>до 68%</b> за первые 4 месяца. Контекстная реклама дает дополнительно <b>около 2000 посетителей </b> на сайт в месяц.
				.case-el
					.case-el__icon
						+icon("tools","icon")
					.case-el__content
						.case-el__title Инструменты:
						.case-el__text Создание сайта + поисковое продвижение + контекстная реклама. На данный момент идет подключение SMM.
				.case-el
					.case-el__icon
						+icon("aim","icon")
					.case-el__content
						.case-el__title Задача:
						.case-el__text Увеличить количество уникальных посетителей на сайт.

//advant
.section.section--advant#toadvant
	.main-cont
		.section-title 9 причин заказать SEO-продвижение сайта в «Снайпере»
		.advant
			.advant__el
				.advant__el-icon
					+icon("cup-nine","icon")
				.advant__el-content
					.advant__el-title 9 лет
					.advant__el-text успешной работы в интернет-маркетинге
			.advant__el
				.advant__el-icon
					+icon("key","icon")
				.advant__el-content
					.advant__el-title 25 000+
					.advant__el-text коммерческих ключевых слов, по которым продвигаем наших клиентов
			.advant__el
				.advant__el-icon
					+icon("cup-place","icon")
				.advant__el-content
					.advant__el-title B топ-20
					.advant__el-text SEO-компаний Сибири по версии «Рейтинг Рунета»
			.advant__el
				.advant__el-icon
					+icon("project","icon")
				.advant__el-content
					.advant__el-title 400+
					.advant__el-text выполненных проектов
			.advant__el
				.advant__el-icon
					+icon("users","icon")
				.advant__el-content
					.advant__el-title 800 000+
					.advant__el-text посетителей сайтов наших клиентов из поисковых систем
			.advant__el
				.advant__el-icon
					+icon("cup-win","icon")
				.advant__el-content
					.advant__el-title В топ-50
					.advant__el-text всероссийского рейтинга «SEO глазами клиентов-2017»
			.advant__el
				.advant__el-icon
					+icon("seo-key","icon")
				.advant__el-content
					.advant__el-text Сертифициронанные специалисты Яндекс. Метрика,Яндекс.Директ, Google Analytics
			.advant__el
				.advant__el-icon
					+icon("certs","icon")
				.advant__el-content
					.advant__el-text Белые <br> методы продвижения
			.advant__el
				.advant__el-icon
					+icon("payment","icon")
				.advant__el-content
					.advant__el-text Гибкость <br> ценовой политики

//offer
.section.section-gray.section--advant#topay
	.main-cont
		.section-title Что мы предлагаем?
		.offer
			.offer__el
				.offer__el-title По позициям
				.offer__el-val От 17 000 ₽ / мес.
				.offer__el-text Выведение сайта в Топ 10 поисковых систем по оговоренным запросам Работа с коммерческими факторами Работа над повышением конверсии Работа над юзабилити
				div(data-modal="order").offer__el-get.modal-get Оценить мой сайт
			.offer__el
				.offer__el-title По трафику
				.offer__el-val От 17 000 ₽ / мес.+ от 2 ₽ за визит
				.offer__el-text
					p Продвижение сайта по широкому семантическому ядру
					p Увеличение количества целевого трафика
					p Работа с коммерческими факторами
					p Работа над повышением конверсии
					p Работа над юзабилити
					p Настройка инструментов повышения продаж
				div(data-modal="order").offer__el-get.modal-get Оценить мой сайт
			.offer__el
				.offer__el-title Комплексный подход
				.offer__el-val От 40 000 ₽ / мес.
				.offer__el-text Продвижение вашего проекта с использованием всех возможностей SEO. Улучшение юзабилити, интеграция онлайн-сервисов.Комплексное продвижение сайтов в «Снайпер» – это продвижение в поисковых системах по максимальному количеству запросов и полная техническая доработка сайта. В арсенале наших опытных специалистов больше полусотни инструментов, позволяющих им без труда справляться с поставленной задачей.
				div(data-modal="order").offer__el-get.modal-get Оценить мой сайт
			.offer__el
				.offer__el-title Vip-пакет
				.offer__el-val От 100 000 ₽ / мес.
				.offer__el-text Продвижение Вашего проекта с использованием всех инструментов интернет-маркетинга по максимуму! SEO-продвижение, контекстная реклама, SMM, медийная реклама и другие инструменты
				div(data-modal="order").offer__el-get.modal-get Оценить мой сайт

//example 2
.section.section-example.section--mount(style="background-image:url('img/gray-mount.png')")
	.main-cont
		.section-title От слов к делу: Кейс №2. Сеть магазинов одежды
		.case
			.case-chart
				img(src="img/chart-clothes.png", alt="")
			.case-info
				.case-el
					.case-el__icon
						+icon("cup","icon")
					.case-el__content
						.case-el__title Результаты:
						.case-el__val 2 179 → 12 865
						.case-el__val-descr посетителей из поисковых сетей
						.case-el__text За 2 года сотрудничества трафик из канала «поисковые системы» вырос с 2179 <b>до 12865 человек</b> в месяц.
				.case-el
					.case-el__icon
						+icon("tools","icon")
					.case-el__content
						.case-el__title Инструменты:
						.case-el__text Поисковое продвижение.
				.case-el
					.case-el__icon
						+icon("aim","icon")
					.case-el__content
						.case-el__title Задача:
						.case-el__text Увеличить трафик и количество заказов в интернет-магазине.


//why
.section.section-gray.section--why#towhy
	.main-cont
		.section-title Почему стоит продвигаться с нами?
		.why
			.why-head
				.why-head__el Большинство компаний:
				.why-head__el Как у нас:
			.why-row
				.why__icon-mobile
					+icon("engine","icon")
				.why-title-mobile Большинство компаний:
				.why__text 3 основных вида работ: SEO, контекстная реклама, медийная реклама (баннеры).
				.why__icon
					+icon("engine","icon")
				.why-title-mobile Как у нас:
				.why__text Широкий набор инструментария: SEO-продвижение, контекстная реклама, SMM, таргетированная и баннерная реклама, контент-маркетинг и др.
			.why-row
				.why__icon-mobile
					+icon("clock","icon")
				.why-title-mobile Большинство компаний:
				.why__text 10 часов на проект в месяц.
				.why__icon
					+icon("clock","icon")
				.why-title-mobile Как у нас:
				.why__text От 30 до 70 человеко-часов на проект.
			.why-row
				.why__icon-mobile
					+icon("team","icon")
				.why-title-mobile Большинство компаний:
				.why__text Нет полноценно укомплектованного штата специалистов, из-за чего компания не может выполнять все работы по сайту.
				.why__icon
					+icon("team","icon")
				.why-title-mobile Как у нас:
				.why__text Вы получите команду штатных профессионалов: программисты, SEO-специалисты, копирайтеры, дизайнеры, менеджер по работе с клиентами и др.
			.why-row
				.why__icon-mobile
					+icon("box","icon")
				.why-title-mobile Большинство компаний:
				.why__text Менеджеры-новички, которые не могут должным образом донести информацию до клиента от специалистов компании.
				.why__icon
					+icon("box","icon")
				.why-title-mobile Как у нас:
				.why__text Личный постоянный менеджер, имеющий большой опыт работы с проектами по продвижению.
			.why-row
				.why__icon-mobile
					+icon("analitic","icon")
				.why-title-mobile Большинство компаний:
				.why__text Новые способы размещения искать сложно и дорого. Используются шаблонные наработки.
				.why__icon
					+icon("analitic","icon")
				.why-title-mobile Как у нас:
				.why__text Огромная база знаний по проектам, выбор наиболее оптимального способа в каждой из ниш.
			.why-row
				.why__icon-mobile
					+icon("collect","icon")
				.why-title-mobile Большинство компаний:
				.why__text Постоянные дополнительные счета за программирование, необходимое для продвижения сайта, и другие доработки по сайту.
				.why__icon
					+icon("collect","icon")
				.why-title-mobile Как у нас:
				.why__text Большинство доработок, необходимых для продвижения сайта, уже включены в конечную стоимость.
			.why-row
				.why__icon-mobile
					+icon("umbrela","icon")
				.why-title-mobile Большинство компаний:
				.why__text Экстенсивный подход к рекламе, который приводит к нерациональному расходованию средств.
				.why__icon
					+icon("umbrela","icon")
				.why-title-mobile Как у нас:
				.why__text Максимально эффективно настраиваем рекламу, корректируем ее в ходе работы для получения наилучших результатов
			.why-row
				.why__icon-mobile
					+icon("land","icon")
				.why-title-mobile Большинство компаний:
				.why__text Если не получается достигнуть заданных позиций в течение двух-трех месяцев — отказ от клиента.
				.why__icon
					+icon("land","icon")
				.why-title-mobile Как у нас:
				.why__text Достигаем высоких результатов по 90% наших проектов.
			.why-row
				.why__icon-mobile
					+icon("window","icon")
				.why-title-mobile Большинство компаний:
				.why__text Отчет представляет собой всего лишь выжимку из Яндекс.Метрики.
				.why__icon
					+icon("window","icon")
				.why-title-mobile Как у нас:
				.why__text Предоставляем более детальный отчет о проделанных работах и результатах. По каждому виду рекламы готовим отдельные отчеты.


		.form-order-wrap
			form.validate-form.form-order( action="javascript:void(null);")
				.input-row
					input(type="text" name="name" placeholder="Ваше имя").input
				.input-row
					input(type="text" name="adres" placeholder="Адрес сайта").input
				.input-row
					input(type="text" name="phone" placeholder="Ваш телефон").input
				input(type="submit" value="Не хочу как у всех, хочу с Вами" class="form-order-get")

//example 3
.section.section-example.section--mount(style="background-image:url('img/gray-mount.png')")
	.main-cont
		.section-title От слов к делу: Кейс №3. Клиника пластической хирургии и косметологии
		.case
			.case-chart
				img(src="img/chart-cosmetology.png", alt="")
			.case-info
				.case-el
					.case-el__icon
						+icon("cup","icon")
					.case-el__content
						.case-el__title Результаты:
						.case-el__val 0% → 83%
						.case-el__val-descr запросов в Топ-10 Яндекс
						.case-el__text Трафик за 15 месяцев вырос со 163 <b>до 3042 чел.</b> Через 3 месяца после запуска сайта <b>83%</b> запросов были выведены в ТОП-10 поисковой системы Яндекс (семантическое ядро из 516 запросов)
				.case-el
					.case-el__icon
						+icon("tools","icon")
					.case-el__content
						.case-el__title Инструменты:
						.case-el__text Создание сайта и поисковое продвижение.
				.case-el
					.case-el__icon
						+icon("aim","icon")
					.case-el__content
						.case-el__title Задача:
						.case-el__text Создать красивый и удобный для пользователя сайт, увеличить трафик ресурса, вывести запросы в ТОП-10.

//example 4
.section.section-example.section--mount(style="background-image:url('img/gray-mount.png')")
	.main-cont
		.section-title От слов к делу: Кейс №4. Интернет-магазин напольных покрытий
		.case
			.case-chart
				img(src="img/chart-floor.png", alt="")
			.case-info
				.case-el
					.case-el__icon
						+icon("cup","icon")
					.case-el__content
						.case-el__title Результаты:
						.case-el__val 1 714 → 3 499
						.case-el__val-descr посетителей из поисковых сетей
						.case-el__text Рост посещаемости за год работы составляет 200%.
				.case-el
					.case-el__icon
						+icon("tools","icon")
					.case-el__content
						.case-el__title Инструменты:
						.case-el__text Поисковое продвижение.
				.case-el
					.case-el__icon
						+icon("aim","icon")
					.case-el__content
						.case-el__title Задача:
						.case-el__text Увеличить количество уникальных посетителей на сайт.

//tabs
.section.section-gray.section--tabs#totech
	.main-cont
		.section-title Технологии продвижения, или как мы работаем
		.tabs
			.tabs-head
				.tabs-head__el.tabs-head__el--active Подготовка
				.tabs-head__el Настройка
				.tabs-head__el Контент-маркетинг
				.tabs-head__el Конверсия
				.tabs-head__el Аналитика
			//tab one
			.tabs-content-wrap
				.slider-control.slider-control--left
					+icon("arrow-left","icon")
				.slider-control.slider-control--right
					+icon("arrow-right","icon")
				.tabs-content.tabs-content--active.slider
					.tabs-col.tabs-col--four
						.tabs-col__icon
							+icon("king","icon")
						.tabs-col__title Анализ ниши
						.tabs-col__text
							ul
								li Конкуренты
								li Сервисы конкурентов
								li Анализ целевой аудитории
								li Ассортимент по тематике
					.tabs-col.tabs-col--four
						.tabs-col__icon
							+icon("ways","icon")
						.tabs-col__title Семантическое ядро
						.tabs-col__text
							ul
								li Маски запросов
								li Ключевые запросы
								li Кластеризация
					.tabs-col.tabs-col--four
						.tabs-col__icon
							+icon("curve","icon")
						.tabs-col__title Анализ статистики
						.tabs-col__text
							ul
								li Показатели сайта
								li Постановка KPI
								li Запросы сайта
								li Динамика позиций
					.tabs-col.tabs-col--four
						.tabs-col__icon
							+icon("checked-paper","icon")
						.tabs-col__title Аудит сайта
						.tabs-col__text
							ul
								li Технический аудит
								li Аудит юзабилити
								li Подготовка ТЗ


			//tab two
			.tabs-content-wrap
				.tabs-content.slider
					.tabs-col
						.tabs-col__icon
							+icon("mounts","icon")
						.tabs-col__title Выбор стратегии
						.tabs-col__text
							ul
								li Постановка целей
								li Задачи команде
								li Назначение ответственных
					.tabs-col
						.tabs-col__icon
							+icon("folders","icon")
						.tabs-col__title Оптимизация структуры
						.tabs-col__text
							ul
								li Внедрение рекомендаций
								li ЧПУ
								li «Хлебные крошки»
								li Улучшение индексации
					.tabs-col
						.tabs-col__icon
							+icon("cloud","icon")
						.tabs-col__title Сервисы
						.tabs-col__text
							ul
								li Screaming Frod SEO Spider
								li KeyCollector & Serpstat
								li Сайтрепорт & Pixeltools

			//tab three
			.tabs-content-wrap
				.tabs-content.slider
					.tabs-col
						.tabs-col__icon
							+icon("typer","icon")
						.tabs-col__title Создание контента
						.tabs-col__text
							ul
								li ТЗ на тексты
								li Написание текстов
								li ТЗ на размещение
					.tabs-col
						.tabs-col__icon
							+icon("pages","icon")
						.tabs-col__title Оптимизация контента
						.tabs-col__text
							ul
								li Текущие страницы
								li Оптимизация заголовков
								li Оптимизация навигации
					.tabs-col
						.tabs-col__icon
							+icon("engine","icon")
						.tabs-col__title Внутренняя оптимизация
						.tabs-col__text
							ul
								li Мета теги
								li Заголовки страниц
								li Микроразметка

			//tab four
			.tabs-content-wrap
				.tabs-content.slider
					.tabs-col
						.tabs-col__icon
							+icon("in","icon")
						.tabs-col__title Коммерческие факторы
						.tabs-col__text
							ul
								li Матрица коммерческих факторов
								li Работа с факторами доверия к компании
								li Улучшение функционала
					.tabs-col
						.tabs-col__icon
							+icon("coins","icon")
						.tabs-col__title Внедрение целевого действия
						.tabs-col__text
							ul
								li Оптимизация призыва к действию
								li Повышение лояльности посетителей
								li Концепция продуктовой совокупности
					.tabs-col
						.tabs-col__icon
							+icon("key","icon")
						.tabs-col__title Расширение тематики
						.tabs-col__text
							ul
								li Новые разделы сайта
								li Тегирование
								li Настройка фильтрации
								li Работа с дополнительными источниками трафика

			//tab five
			.tabs-content-wrap
				.tabs-content.slider
					.tabs-col
						.tabs-col__icon
							+icon("list-charts","icon")
						.tabs-col__title Веб-аналитика
						.tabs-col__text
							ul
								li Глубина просмотров
								li Посещения
								li Отказы
								li Конверсия
					.tabs-col
						.tabs-col__icon
							+icon("ways","icon")
						.tabs-col__title Доработки
						.tabs-col__text
							ul
								li Улучшение дизайна
								li Расширение семантики
								li Дальнейшее планирование
					.tabs-col
						.tabs-col__icon
							+icon("first","icon")
						.tabs-col__title Удержание позиций
						.tabs-col__text
							ul
								li Достигнутые позиции
								li Постоянная оптимизация

//offer
.section.section--command#tocommand(style="background-image:url('img/gray-mount.png')")
	.main-cont
		.section-title Наша команда профессионалов и экспертов
		.command
			.command__el
				.command__el-img
					img(src="img/management.png", alt="")
				.command__el-title Менеджмент
			.command__el
				.command__el-img
					img(src="img/seoman.png", alt="")
				.command__el-title SEO-специалисты
			.command__el
				.command__el-img
					img(src="img/developers.png", alt="")
				.command__el-title Программисты
			.command__el
				.command__el-img
					img(src="img/copywriter.png", alt="")
				.command__el-title Копирайтер®

//example 5
.section.section-example.section--mount(style="background-image:url('img/gray-mount.png')")
	.main-cont
		.section-title От слов к делу: Кейс №5. Оптовый интернет-магазин сезонной одежды
		.case
			.case-chart
				img(src="img/chart-seson.png", alt="")
			.case-info
				.case-el
					.case-el__icon
						+icon("cup","icon")
					.case-el__content
						.case-el__title Результаты:
						.case-el__val 16 717 → 59 108
						.case-el__val-descr трафик из поисковых систем
						.case-el__val 1 264 → 28 076
						.case-el__val-descr трафик из контекстной рекламы
						.case-el__text Рост за 2-й год работы: <b> 37000 посетителей </b> из поисковиков, вывод запросов в ТОП-10 <b>до 85% </b>, рост эффективности контекстной рекламы <b>в 2 раза</b> по сравнению с предыдущим подрядчиком.
				.case-el
					.case-el__icon
						+icon("tools","icon")
					.case-el__content
						.case-el__title Инструменты:
						.case-el__text SEO-продвижение + контекстная реклама
				.case-el
					.case-el__icon
						+icon("aim","icon")
					.case-el__content
						.case-el__title Задача:
						.case-el__text Рост трафика, реагирование на острую сезонность, совмещение SEO-продвижения и контекстной рекламы.

.section.section-order.section--mount#tocontact(style="background-image:url('img/red-mount.png')" )
	.main-cont
		.section-title.section-title--white.section-title--sm Будем рады помочь в продвижении Вашего сайта!
		.order
			.order-title Заполните форму ниже, и мы свяжемся с Вами как можно быстрее:

			form.validate-form.order-form( action="javascript:void(null);")
				.input-row
					input(type="text" name="name" placeholder="Ваше имя" class="input")
				.input-row
					input(type="text" name="adres" placeholder="Адрес вашего сайта" class="input")
				.input-row
					input(type="text" name="phone" placeholder="Телефон" class="input")
				.check-el.agreement
					label.style-label.style-label--checkbox
						input(type="checkbox").sytle-input
						.sytle-input-element
							+icon("checked","icon-check")
						.sytle-input-text Нажимая на кнопку «Отправить заявку!», вы соглашаетесь на обработку
							a(href="#") персональных данных
				input(type="submit" value="Отправить заявку!" class="form-get form-get--yellow")
		.order-phone Или ждем Ваших звонков:
		a(href="tel:8 800 775 53 46").order-phone__el 8 800 775 53 46
		a(href="tel:+7 383 247 88 94").order-phone__el +7 (383)247 88 94

+footer()
include ./block_html/_script.pug
